---
import Layout from '../../../layouts/Layout.astro';
import { getCollection, getEntries, getEntry } from 'astro:content';

export async function getStaticPaths() {
  const trips = await getCollection('trips');
  const tripsPaths = new Array();
  trips.forEach(trip => {
    const path = trip.id.split('/');
    let t = {
      'params': {
        'creator':path[0],
        'slug':path[1]
      },
      'props': {
        'trip':trip
      }
    }
    tripsPaths.push(t);
  })
  
  return tripsPaths;
}

const { creator, slug } = Astro.params;
const { trip } = Astro.props;
const stops = await getEntries(trip.data.stops);
const creatorData = await getEntry('creators', creator);
trip.data.postdate.setTime(trip.data.postdate.getTime() + (6*60*60*1000));

const dateOptions: object = {
	year: "numeric",
	month: "long",
	day: "numeric",
	timezone: "America/Chicago"
};

const pageTitle = trip.data.name + " | " + creatorData.data.name;
---
<Layout title={pageTitle}>
  <h1>{trip.data.name}</h1>
  <h2>{creatorData.data.name}</h2>
  <p>{trip.data.postdate.toLocaleDateString('en-US', dateOptions)}</p>
  {stops.map(stop => (
    <p>{stop.data.name}</p>
  ))}
</Layout>