---
import Layout from '../../layouts/Layout.astro';
import CreatorCard from '../../components/CreatorCard.astro';
import { getCollection } from 'astro:content';
const creators = (await getCollection('creators'))
---

<Layout title="Creators">
  <div class="creators-list">
    {creators.map(creator => (
      <CreatorCard 
        title={creator.data.name},
        creator_id={creator.id},
        img={creator.data.photo.src}
      />
    ))}
  </div>

</Layout>

<style>
  .creators-list {
    display: flex;
    gap: 40px;
    flex-wrap:wrap
  }
</style>