---
import { getCollection, getEntries } from 'astro:content';

export async function getStaticPaths() {
  const creators = await getCollection('creators');
  return creators.map(entry => ({
    params: { creator: entry.id }, props: { entry },
  }));
}
const { entry } = Astro.props;
const trips = await getEntries(entry.data.trips);
---
<h1>{entry.data.name}</h1>
{trips.map(trip => (
  <p><a href=`/${trip.id}`>{trip.data.name}</a></p>
))}