---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
const recentTrips = (await getCollection('trips')).sort(
    (a, b) => b.data.postdate.valueOf() - a.data.postdate.valueOf()
  );
---

<Layout title="Home">
<ul>
  {recentTrips.slice(0, 10).map(trip => (
		<li>{trip.data.name}</li>
  ))}
</ul>
</Layout>