---
import { getCollection } from 'astro:content';
const trips = (await getCollection('trips')).sort(
    (a, b) => b.data.postdate.valueOf() - a.data.postdate.valueOf()
  );
---


<ul>
  {trips.slice(0, 10).map(trip => (
		<li>{trip.data.name}</li>
  ))}
</ul>