---
import { getCollection, getEntry } from 'astro:content';
const creators = await getCollection('creators');
---


<ul>
  {creators.map(creator => (
		<li><a href=`/${creator.id}`>{creator.data.name}</a></li>
  ))}
</ul>