---

interface Props {
	title: string;
  img: string;
  creator_id: string;
}

const { title, img, creator_id } = Astro.props;
---

<div class="creator-card">
  <a href=`/creators/${creator_id}`>
    <div class="creator-card--image">
      <img src={img} alt=`Profile image of ${title}`/>
    </div>
    <div class="creator-card--name">
      {title}
    </div>
  </a>
</div>

<style>
  .creator-card {
    display: flex;
    flex-direction: column;
		background-color: var(--lightColor);
		border-radius: 10px;
		overflow: hidden;
    a {
      text-decoration: none;
    }
    .creator-card--name {
      padding: 16px;
      text-align: center;
      font-size: 1.3rem;
      font-family: 'Onest', sans-serif;
		  font-weight: 600;
    }
	}
</style>